.project-health
	%em
		= truncate(project.display_name, length: 100)
		%span.right== Remaining: #{number_to_human project.estimated_time - project.actual_time}
		.cleared
		
	= simple_budget_progress_indicator(project.actual_time, project.estimated_time, true)
	%p
		%strong
			= project.actual_time
			Actual / 
			= project.estimated_time
			Estimated